<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/templates/layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account/</span> 회원정보</h4>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                        <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i>
                            Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages-account-settings-notifications.html"
                        ><i class="bx bx-bell me-1"></i> Notifications</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages-account-settings-connections.html"
                        ><i class="bx bx-link-alt me-1"></i> Connections</a
                        >
                    </li>
                </ul>
                <div class="card mb-4">
                    <h5 class="card-header">회원정보 상세</h5>
                    <h5 class="card-header">안녕하세요 <span th:text="${member.memberNick}"></span>님</h5>
                    <!-- Account -->
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img
                                    th:src="@{/assets/img/avatars/1.png}"
                                    alt="user-avatar"
                                    class="d-block rounded"
                                    height="100"
                                    width="100"
                                    id="uploadedAvatar"
                            />
                            <div class="button-wrapper">
                                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                    <span class="d-none d-sm-block">사진 변경</span>
                                    <i class="bx bx-upload d-block d-sm-none"></i>
                                    <input
                                            type="file"
                                            id="upload"
                                            class="account-file-input"
                                            hidden
                                            accept="image/png, image/jpeg"
                                    />
                                </label>
                                <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                                    <i class="bx bx-reset d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Reset</span>
                                </button>

                                <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0"/>
                    <div class="card-body">
                        <form th:object="${member}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">E-mail</label>
                                    <input
                                            class="form-control"
                                            type="text"
                                            id="email"
                                            name="email"
                                            th:field="*{memberId}"
                                            readonly
                                    />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="organization" class="form-label">닉네임</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="organization"
                                            name="organization"
                                            th:field="*{memberNick}"
                                            value="생명사슬"
                                    />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="firstName" class="form-label">이름</label>
                                    <input
                                            class="form-control"
                                            type="text"
                                            id="firstName"
                                            name="firstName"
                                            value="홍길동"
                                            autofocus
                                    />
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="phoneNumber">Phone Number</label>
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text">US (+1)</span>
                                        <input
                                                type="text"
                                                id="phoneNumber"
                                                name="phoneNumber"
                                                class="form-control"
                                                th:field="*{memberTel}"
                                                placeholder="010 1234 5678"
                                        />
                                    </div>
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label for="zipCode" class="form-label">Zip Code</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="zipCode"
                                            name="zipCode"
                                            placeholder="231465"
                                            maxlength="6"
                                    />
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label for="address" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="address" name="address"
                                           placeholder="Address"/>
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label for="lastName" class="form-label">한마디</label>
                                    <input class="form-control" type="text" name="lastName" id="lastName" value="Doe"/>
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="country">계정상태</label>
                                    <select id="country" class="select2 form-select">
                                        <option value="">Select</option>
                                        <option value="active">Active</option>
                                        <option value="dormant">Dormant</option>
                                        <option value="withdraw">Deactive</option>

                                    </select>
                                </div>
                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-primary me-2">회원정보 수정</button>
                                <button type="reset" class="btn btn-outline-secondary">취소</button>
                            </div>
                        </form>
                    </div>
                    <!-- /Account -->
                </div>
                <div class="card">
                    <h5 class="card-header">회원 탈퇴</h5>
                    <div class="card-body">
                        <div class="mb-3 col-12 mb-0">
                            <div class="alert alert-warning">
                                <h6 class="alert-heading fw-bold mb-1">계정을 삭제하시겠습니까?</h6>
                                <p class="mb-0">계정을 삭제하면 되돌릴 수 없습니다.</p>
                            </div>
                        </div>
                        <form id="formAccountDeactivation" method="post"
                              th:action="@{'/admin/account/' + ${member.id}}">
                            <input type="hidden" name="_method" value="DELETE"/>
                            <div class="form-check mb-3">
                                <input
                                        class="form-check-input"
                                        type="checkbox"
                                        name="accountActivation"
                                        id="accountActivation"
                                />
                                <label class="form-check-label" for="accountActivation">숙지했습니다.</label>
                            </div>
                            <input type="hidden" name="id" th:value="${member.id}"/>
                            <button type="submit" class="btn btn-danger deactivate-account" disabled>회원 탈퇴</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const accountActivationCheckbox = document.getElementById("accountActivation");
        const deactivateButton = document.querySelector(".deactivate-account");

        accountActivationCheckbox.addEventListener('change', function() {
            if (accountActivationCheckbox.checked) {
                deactivateButton.disabled = false;
            } else {
                deactivateButton.disabled = true;
            }
        });
    });


    </script>

    <!-- / Content -->

</div>


</html>