<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<div layout:fragment="content" class="layout-page">
<style>
	.custom-login {
	  max-width: 500px;
	  margin-right: auto;
	  margin-left: auto;
	}
</style>
	    <div class="container-xxl custom-login">
    
        <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="/" class="app-brand-link gap-2">
					<img src="/assets/img/logo/logo.png" alt="Logo" width="45px" />
                  <span class="app-brand-text demo text-body fw-bolder">생명사슬</span>
                </a>
              </div>
              <br>
              <!-- /Logo -->
              <h4 class="mb-2">생명사슬에 어서오세요 👋</h4>
              <p class="mb-4">계정에 로그인하고 생명에 기여해보세요!</p>

			  <form th:action="@{/member/login}" method="post" id="formAuthentication" class="mb-3">
                <div th:if="${param.error}">
		            <div class="alert alert-danger">
		                사용자 이메일 또는 비밀번호를 확인해 주세요.
		            </div>
		        </div>
                <div class="mb-3">
                  <label for="username" class="form-label">사용자 이메일</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter your email or username"
                    autofocus
                  />
                </div>
                <div class="mb-3 form-password-toggle">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">비밀번호</label>
                    <a href="auth-forgot-password-basic.html">
                      <small>비밀번호를 잊어버리셨나요?</small>
                    </a>
                  </div>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      name="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="remember-me" />
                    <label class="form-check-label" for="remember-me"> Remember Me </label>
                  </div>
                </div>
                
                <div id = "oauth_login">
					<div>
						<img src="../assets/img/icons/brands/google.png" alt="google" class="me-3" height="30">
						<a href ="/oauth2/authorization/google">구글로 로그인</a><hr>
					</div>
					
				</div>
                
                <div class="mb-3">
                  <button class="btn btn-primary d-grid w-100" type="submit">로그인</button>
                </div>
              </form>

              <p class="text-center">
                <span>아직 회원이 아니십니까?</span>
                <a th:href="@{/member/register}">
                  <span>회원가입</span>
                </a>
              </p>
            </div>
          </div>
          <!-- /Register -->
        </div>
    </div>
</div>
</div>
</html>